<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect('http://localhost');
  socket.on('requestOpponent', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });
</script>

<h1>Camuzzle</h1>
<h2>The camera puzzle thingy place...?</h2>

<p/>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">You!</h3>
	</div>
	<div id="camera_self" class="panel-body">
		<video autoplay></video>
		<script src="/js/camera_get.js"></script>
	</div>
</div>

<p />

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Them!</h3>
	</div>
	<div id="camera_remote" class="panel-body">
		<video autoplay></video>
		<script src="/js/camera_get.js"></script>
	</div>
</div>