<html>

<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="/css/styles.css" rel="stylesheet">

<head>
<meta name='keywords' content='WebRTC, HTML5, JavaScript, Camuzzle' />
<meta name='description' content='Camuzzle - The confusing game' />
<meta name='viewport'
	content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1'>

<title>{{title}}</title>
</head>

<body>

	{{{body}}}

	<footer>
		<p>
			<a href="/">Home</a> ~ <a href="https://github.com/lolletsoc">About
				The Developer</a>
		</p>
	</footer>

	<script src='/socket.io/socket.io.js'></script>
	<script src='/js/lib/adapter.js'></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/js/lib/isotope.pkgd.min.js"></script>
	<script src='/js/main.js'></script>

</body>
</html>
